* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #111;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  margin-left: 50px;
}
.name {
  margin-left: auto;
  color: #00a7c8;
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
}
.site-header {
  background: #000;
  color: #00a7c8;
  padding: 20px 0;
}
.logo {
  font-size: 28px;
  text-transform: uppercase;
}

.main-nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
}
.main-nav a:hover {
  color: #00a7c8; /* blue */
}


.hero {
  background: #f0f0f0;
  padding: 60px 0;
  text-align: center;
}
.hero h2 {
  font-size: 36px;
  color: #00a7c8;
}

.models {
  padding: 40px 0;
}
.models h3 {
  text-align: center;
  margin-bottom: 30px;
}
.model-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.model-card {
  background: #fff;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.3s;
}
.model-card:hover {
  transform: scale(1.03);
  border-color: #00a7c8;
}
.model-card img {
  width: 100%;
}
.model-card h4 {
  font-size: 22px;
  margin: 15px;
  color: #000;
}
.model-card p {
  padding: 10px 15px 20px;
  color: #555;
}


.about {
  background: #000;
  color: #00a7c8;
  padding: 40px 0;
  text-align: center;
}
.about p {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  color: #ddd;
}


.contact {
  padding: 40px 0;
  text-align: center;
}
.contact h3 {
  margin-bottom: 20px;
  color: #00a7c8;
}


.site-footer {
  background: #00a7c8;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}
.model-card ul {
  list-style-type: disc !important;
  margin-left: 20px !important;
  padding-left: 20px !important;
}

.model-card li {
  margin-bottom: 6px;
}

